/* This styles have been used to style all pages */
/* body css styles are applied to the entire content  */

body{
    font-family:sans-serif,Arial, Helvetica;
    font-size: 18px;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    background: url(../img/background.jpg);
    }
    /*  Global css styles are style that can be in any part of  the page*/
    h5 a:hover{
      color:white;
    }

    .container{
      width: 80%;
      margin: auto;
      height: 100%;
    }
    .fieldsize{
      width: 65%;
  
    }
    a {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }

    .text_centered{
      text-align: center;
      
    }
    .dashboard{
        overflow-x: auto;

    }
    .submit_button{
      background: #000;
      height: 40px;
      width: 90px;
      font-size: 15px;
      font-weight: bold;
    }
    .spacing{
      margin:20px;
      padding-bottom: 5px;
    
    }
    
    .entries{
      padding: 20px;
      
    }
    h1,h2,h3{
  
      text-transform: capitalize;
      margin: 0px;
      padding: 0px;
      color: #000;
    
    }

    #white{
      color: #FFFFFF
    }
    
    /* Header css are specific to the Header and its children  */
    
    header{
      background: dodgerblue;
      color: #ffffff;
      min-height: 50px;
      padding-bottom: 10px;
      overflow: hidden;
      margin-bottom: 20px;
    
    }
    
    header a{
      color: #FFFFFF;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;
      font-family: 'Times New Roman', Times, serif
    }
    
    header li{
      float: left;
      display: inline;
      padding: 0px 20px 0px 20px;
    }
    header #logo{
      float: left;
      height: 60px;
      width:80px;
      margin-top: 7px;
    }
    header #branding h1{
      margin: 0;
    }
    
    header nav{
      float: right;
    }
    header .highlight, header .current{
      color:black;
    }
    
    header a:hover{
      color:black;
      font-weight: bold;}
    
    /* footer css styles are specific to the footer*/
    #footer {
        position: fixed;
        height: 50px;
        background-color:  dodgerblue;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
        text-align: center;
        color: #ffffff;
    }
    /* css styles for styling fieldsets */
    fieldset{
      width: 20%;
      margin: auto;
      background:dodgerblue;
      margin-top: 10px;
      border-radius: 25px;
      border: 2px solid white;
    
    }
    /* css styles for styling section element */
    section a{
      text-decoration: none;
    
    }
    section li{
      display: inline;
      text-transform: capitalize;
    
    }
     section fieldset{
         min-width: 65%;
     }

    }
    section img{
      width: 60%;
    }
    
/* These styles are specific to tables and its siblings */
     table{
         width: 80%;
         margin: auto;
         border: 1px solid black;
         border-collapse: collapse;
         width: 100%;
         margin-bottom: 50px;
     }
     table a{
        text-decoration: none;
        text-transform: capitalize;
        font-size: 18px;
        padding: 7px;
      }
      table a:hover {
          color: blue;
    }


      table tr,td,th{
        margin: auto;
        border: 1px solid black;
        border-collapse: collapse;
        text-align: left;
       
    }
  
    table tr button{
       
       margin: 10px;
       height: 30px;
       width: 80px;
    }
    table tr button:hover{
       
        margin-right: 10px;
        height: 20px;
        width: 60px;
        color: blue;    
     }
    .td-width{
        width: 20%;
    }
    /*  article CSS styles */
article{
    margin: 30px;
}
article span{
    padding: 20px;
}
article span button:hover{
    color: rgb(0, 140, 255);
}
/* These styles have been applied to profile section */
.profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-left:30px;
  margin-top:55px;
  margin-bottom: 0px;
  text-align: center;
  float: left;
  padding: 20px;
  border: 2px solid dodgerblue;
  border-radius: 25px;
}
/* They are only applied to button element */
button {
  color: white;
  background-color: #000;
}



button:hover, a:hover {
  opacity: 0.7;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown:hover .dropdown-content {display: block;}